[telegram]
token = TOKEN
animation_id = CgACAgQAAxkDAAIBqF4rRwTDEXJcZtA8P4IFN1ly7WwnAAL0AQACysUEUXEQkHacMB3BGAQ

[spotify]
client_id = CLIENT_ID
client_secret = CLIENT_SECRET
client_redirect = http://localhost:8888/spotify/callback

[tornado]
port = 8888
app_url = http://localhost:8888