aiohttp==3.7.4.post0
APScheduler==3.6.3
async-timeout==3.0.1
attrs==20.3.0
backoff==1.10.0
CacheControl==0.12.6
certifi==2022.12.7
chardet==4.0.0
idna==2.10
msgpack==1.0.2
multidict==5.1.0
pony==0.7.14
psycopg2-binary==2.8.6
pyfy==2.0.8
PySocks==1.7.1
python-dotenv==0.17.1
python-telegram-bot==13.5
pytz==2021.1
requests==2.25.1
six==1.15.0
tornado==6.1
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
yarl==1.6.3
